html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #1b4a96;
  height: 9vh;
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

nav{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

a{
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
}

.Info{
  padding: 10px;
  height: 50vh;
}

.Projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1b4a96;
  padding: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.project_1, .project_2, .project_3{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  background-color: #ffff;
  height: 80vh;
  width: 33vw;
  border-radius: 10px;
  border: 2px solid black;
}



.Experience{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience_1{
  margin: 20px;
  background-color: #ffff;
  height: 80vh;
  width: 33vw;
  border-radius: 10px;
  border: 2px solid black;
}

.Contact{
  color: #1b4a96;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_1{
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: #ffff;
  height: 40vh;
  width: 60vw;
  border-radius: 10px;
  border: 2px solid black;

}